@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

@layer components {
  .btn-number {
    @apply bg-custom-black text-white rounded-full w-8 h-8;
  }
  .btn-operator {
    @apply bg-custom-black text-custom-orange rounded-full w-8 h-8;
  }
  .btn-special-operator {
    @apply bg-custom-black text-custom-yellow rounded-full w-8 h-8;
  }
}
