@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(49, 55, 58);
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}
