@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-number {
    @apply bg-custom-black text-white rounded-full w-16 h-16 text-2xl;
  }
  .btn-operator {
    @apply bg-custom-black text-custom-orange rounded-full w-16 h-16 text-2xl;
  }
  .btn-special-operator {
    @apply bg-custom-black text-custom-yellow rounded-full w-16 h-16 text-2xl;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.rounded-t-2 {
  border-top-left-radius: 2rem; /* Corresponds to 3xl */
  border-top-right-radius: 2rem; /* Corresponds to 3xl */
}

.rounded-b-2 {
  border-bottom-left-radius: 2rem; /* Corresponds to 3xl */
  border-bottom-right-radius: 2rem; /* Corresponds to 3xl */
}
